body {
    background-color: #7EC0EE;
}

.houses {
    display: flex;
    text-align: center;
    float: left;
}
.house {
    height: 70%;
    width: 70%;
    flex: 100%;
}
.dynamic-size-text {
    font-size: 1.6vw;
    font-family: Roboto Mono;
}
tab { 
    word-spacing: 4.8em;
}
#pipelineTop {
    margin-bottom: -1em;
}
.blinking1 {
	animation: blinkingText1 1.5s infinite;
}
.blinking2 {
	animation: blinkingText2 0.8s infinite;
}
@keyframes blinkingText1 {
	0%   { color: #FFFF00;	   }
	50%  { color: transparent; }
	100% { color: #FFFF00;	   }
}
@keyframes blinkingText2 {
	0%   { color: #FF2D00;	   }
	50%  { color: transparent; }
	100% { color: #FF2D00;	   }
}